.header {
    display: flex;
    justify-content: space-between;
    margin: 45px auto 0;
    width: 100%;
    padding-bottom: 41px;
    flex-direction: column;
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgba(54, 54, 54, 0.7);
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 48px);
    }
}
@media screen and (max-width: 765px) {
    .header {
        width: calc(100% - 24px);
    }
}
@media screen and (max-width: 629px) {
    .header {
        width: calc(100% - 19px - 19px);
    }
}
