.header {
    display: flex;
    justify-content: space-between;
    margin: 45px auto 0;
    width: 100%;
    height: 74px;
    flex-direction: column;
    border-style: none none solid none;
    border-color: #545454;
    border-radius: 1px;
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 48px);
    }
}
@media screen and (max-width: 765px) {
    .header {
        width: calc(100% - 24px);
    }
}
@media screen and (max-width: 629px) {
    .header {
        width: calc(100% - 19px - 19px);
    }
}
