.profile__add-button {
    cursor: pointer;
    margin: 0;
}

@media screen and (max-width: 629px) {
    .profile__add-button {
        content: url(../../../sprint-4-images/Add-Button_mobile.svg);
        margin: 0;
    }
}
