.popup-photo__close {
  width: 40px;
  height: 40px;
  background: url("../../../sprint-4-images/Close_Icon.svg") no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  right: -38px;
  top: -40px;
  cursor: pointer;
}
.popup-photo__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 629px) {
  .popup-photo__close {
    background: url("../../../sprint-4-images/Close\ _Icon_mobile.svg") no-repeat;
  }
}
